# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Backend specific
backend/prisma/*.db
backend/uploads/
backend/test/

# Frontend specific
frontend/.eslintcache
